.x-header-intro {
    position: absolute;
    max-width: 964px;
    top: 55%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}