.x-music-tile {
    margin-bottom: $std-dim * 2;
    padding: $std-dim;
    background: white;
    color: $dark-grey;

    .x-music-tile_title {
        margin: $std-dim 0 $std-dim * 2;
        font-size: 30px;
    }

    .x-music-tile_content {
        width: 100%;
        line-height: 1.8;
        padding-bottom: $std-dim;

        p {
            margin: 0 0 $std-dim;
        }
    }

}